@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

*,
::before,
::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --desaturated-red: rgb(206, 151, 151);
   --soft-red: rgb(249, 98, 98);
   --dark-grayish-red: rgb(65, 58, 58);

   /* background-color */
   --bg1-linear-135deg-from: rgb(255, 255, 255);
   --bg1-linear-135deg-to: rgb(255, 245, 245);

   --bg2-linear-135deg-from: rgb(248, 191, 191);
   --bg2-linear-135deg-to: rgb(238, 140, 140);

   /* font details */
   --font-size-10: 62.5%; /* 10px */
   --font-fam-josefin-sans: "Josefin Sans", sans-serif;
   --font-weight-300: 300;
   --font-weight-400: 400;
   --font-weight-600: 600;
}

html {
   font-size: var(--font-size-10);
   font-family: var(--font-fam-josefin-sans);
   font-weight: var(--font-weight-400);
}

body {
   font-size: 1.6rem;
   color: var(--desaturated-red);
}

footer {
   text-align: center;
}

footer a {
   text-decoration: none;
}

/* add css for javascript */

.error_message.active {
   display: unset;
   color: var(--soft-red);
}

.email.active {
   background-image: url("../images/icon-error.svg");
   background-position: top 1rem right 8.5rem;
   background-repeat: no-repeat;
   border: 0.2rem solid var(--soft-red);
}
